    /* Variables used for styling various elements */
    :root {
      --maincolor: rgb(5, 36, 65);
      --pastcolor:  rgb(72, 79, 85);
      --presentcolor: rgb(93, 136, 173);
      --futurecolor: rgb(22, 62, 97);
    }
      
    /* Applies styling to the body which includes the header and the div class container */
    body {
      font-family: 'Open Sans', sans-serif;
      font: var(--maincolor);
      font-size: 16px;
      line-height: 1;
    }

    /* Applies syling to the header which contains the jumbotron */
    .jumbotron {
      text-align: center;
      background-color: transparent;
      color: var(--maincolor);
      border-radius: 0;
      border-bottom: 10px solid var(--maincolor);
    }

    /* Applies styling to the headings */
    #heading {
      background: var(--maincolor);
      color: white;
      text-align: center;
      align-content:center;
      font-size:larger;
    }

    /* Applies styling to each row within the div container.  The div container contains 8 rows.  Each row contains 3 divs: time, textarea, and a del button */
    .row {
      white-space: pre-wrap;
      height: 80px;
      border-top: 1px solid white;
      background-color: #ffffff;
      color: var(--maincolor);
      border-top: 1px dashed var(--maincolor);
      vertical-align: middle;
      background-color:lightgrey;
    }

    /* Applies styling to the first column in each row of the div container containing each hour */
    .time {
      text-align: right;
      align-self: center;
      font-weight: bolder;
    }

    /* Applies styling to the second column in each row of the div container containing the textarea */
    textarea {
      background: transparent;
      border: none;
      resize: none;
      color: white;
      border-left: 1px solid var(--maincolor);
      padding: 10px;
      width: 100%;
      outline: none;
      }

    /* Applies styling to the third column in each row of the div container containing the save buttons */
    .sav {
      text-align: center;
      align-self: center;
    }

    /* Applies styling to the save button */
    .btn {
      color: white;
    }

    /* Applies styling to the save button when the mouse hovers */
    .btn:hover {
      font-size: 30px;
      color: white;
    }

    /* .past, .present, and .future classes visually identify the status of each hour on the scheduler--either in the past, present hour, or in the future */
    .past {
      background-color: var(--pastcolor);
      color: white;
      }

    .present {
      background-color: var(--presentcolor);
      color: white
    }

    .future {
      background-color: var(--futurecolor);
      color: white;
    }
   

    /* Last Revised 5/29/21 */
    /* Raemarie Oatman raemarie.oatman@gmail.com */
    /* Homework Week 5 - 05 Third-Party APIs: Work Day Scheduler */